<div class="box-form">
    <div class="box-header with-border">
        <h4 class="box-title">Example</h4>
    </div><!-- /.box-header -->

    <!-- form start -->
    <form  (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div class="box-body">

            <!--<input class="ng-block form-control" [(ngModel)]="comp.Address" ngControl="Address" >-->
            <!--<div [hidden]="myForm.controls.Address.valid || myForm.controls.Address.pristine" class="alert alert-danger">-->
                <!--Address is required-->
            <!--</div>-->

            <!--<input class="ng-block form-control" [(ngModel)]="comp.State"  [ngFormControl]="myForm.controls['State']" >-->
            <!--<div [hidden]="myForm.controls.State.valid || myForm.controls.State.pristine" class="alert alert-danger">-->
                <!--State is required-->
            <!--</div>-->

            <ng2-Input class="ng-block "  ngLabel="Code"  [(bindModelData)]="comp.Code"
                       [control]="myForm.controls.Code"></ng2-Input>

            <ng2-Input class="ng-block" disabled="true" ngLabel="FullName" [(bindModelData)]="comp.FullName"
                       [control]="myForm.controls.FullName"></ng2-Input>

            <ng2-Input ngMask="(1111)111-111"  class="ng-block" ngLabel="Phone" [(bindModelData)]="comp.Phone"
                       ></ng2-Input>

            <ng2-Input class="ng-block"  ngLabel="Mail" [(bindModelData)]="comp.Mail"
                       [control]="myForm.controls.Mail"></ng2-Input>

            <ng2-Input class="ng-block"  ngLabel="State" [(bindModelData)]="comp.State"
                       [control]="myForm.controls.State"></ng2-Input>

            <ng2-Input class="ng-block"  ngLabel="Address" [(bindModelData)]="comp.Address"
                      ></ng2-Input>

        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
        </div>
    </form>
</div><!-- /.box -->