<aside class="main-sidebar" *ngIf="authentication.isAuth">
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>Test Company </p>
            <a href="#"><i class="fa fa-circle text-success"></i>3 - Online</a>
        </div>
    </div>

    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
        <li >
            <a [routerLink]="['/account']">
                <i class="glyphicon glyphicon-cog"></i> <span>Setting</span>
            </a>
        </li>

        <li >
            <a [routerLink]="['/mailbox']">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="label pull-right bg-yellow">12</small>
            </a>
        </li>

        <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>

        <li class="header">My Module</li>
        <li  *ngFor= "let menu of authentication.menus"
            (click)="onItemClick(menu)">
            <a class="menu-item">
                <i class={{menu.icon}}></i>
                <span>{{menu.name}}</span>
                <i *ngIf="menu.sub" class="fa fa-angle-left pull-right"></i>
            </a>
            <ul *ngIf="menu.sub" class="treeview-menu">
                <li  *ngFor= "let sItem of menu.sub">
                    <a ><i class={{sItem.icon}}></i> {{sItem.name}}</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- sidebar menu: : style can be found in sidebar.less -->
</section>
</aside>
<!-- sidebar menu end-->