<div class="row">
    <div class="header-image bg-img-index-header">
        <div class="">
            <!--<h1><strong>The Guide,</strong> Online Documentation</h1>-->
            <h1><strong>The Guide,</strong> Online Hotel Helper</h1>
            <h5>An online template which can help you rapidly develop business activity in your hotel.
                It has a lot of useful components to reduce the burden of your management working.</h5>
            <br><br><br><br>
            <p>
                <a class="btn btn-danger btn-lg" href="#sec-features" style="margin-right:12px;">Learn More</a>
                <a class="btn btn-dark btn-outline btn-lg hidden-xs" href="getting-started.html">Get start</a>
            </p>
        </div>
    </div>
</div>

