<div class="row">
    <div class="col-lg-8">
        <h3>Registration for free</h3>
        <h5>An online documentation template which can help you rapidly develop your next software's documentation It
            has a lot of useful components to reduce the burden of writing a documentation for your next product.</h5>
        <br>
        <h3>Enter your information</h3>
        <div class="box-form ">
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="row col-md-12">
                            <h4 class="box-title">Infomation</h4>
                        </div>
                        <div class="row">
                            <ng2-Input class="ng-block col-md-10"  ngLabel="Hotel Name"  [(bindModelData)]="pricing.Name"></ng2-Input>
                        </div>

                        <div class="row">

                            <ng2-Input class="ng-block col-md-6"  ngLabel="Country"  [(bindModelData)]="pricing.Country"></ng2-Input>
                            <ng2-Input class="ng-block col-md-4"  ngLabel="State"  [(bindModelData)]="pricing.State"></ng2-Input>
                        </div>
                        <div class="row">
                            <ng2-Input class="ng-block col-md-10"  ngLabel="Address"  [(bindModelData)]="pricing.Address"></ng2-Input>
                        </div>
                        <div class="row">
                            <ng2-Input class="ng-block col-md-5"  ngLabel="Phone"  [(bindModelData)]="pricing.Phone"></ng2-Input>
                            <ng2-Input class="ng-block col-md-5"  ngLabel="Fax"  [(bindModelData)]="pricing.Fax"></ng2-Input>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row col-md-12">
                            <h4 class="box-title">Contact your admin</h4>
                        </div>
                        <div class="row">
                            <ng2-Input class="ng-block col-md-10"  ngLabel="Contact name"  [(bindModelData)]="pricing.Contact"></ng2-Input>
                        </div>
                        <div class="row">
                            <ng2-Input class="ng-block col-md-10"  ngLabel="Email"  [(bindModelData)]="pricing.Mail"></ng2-Input>
                        </div>
                        <div class="row">
                            <ng2-Input class="ng-block col-md-10"  ngLabel="Mobile"  [(bindModelData)]="pricing.Mobile"></ng2-Input>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

    </div>
    <div class="col-lg-4">
        <div class="header-image-pricing bg-img-index-header">
            <div class="">
                <!--<h1><strong>The Guide,</strong> Online Documentation</h1>-->
                <h1><strong>The Pro,</strong> Online Hotel Helper</h1>
                <h5>An online documentation template which can help you rapidly develop your next software's documentation It
                    has a lot of useful components to reduce the burden of writing a documentation for your next product.</h5>
                <br><br><br><br><br>
                <p>
                    <a class="btn btn-danger btn-lg" href="#sec-features" style="margin-right:12px;">Learn More</a>
                    <a class="btn btn-dark btn-outline btn-lg hidden-xs" href="getting-started.html">Pricing now</a>
                </p>
            </div>
        </div>
    </div>
</div>

