<section class="row">
    <div class="col-lg-3 col-md-4">
        <span class="page-title">
            {{authService.pageTitle}}
        </span>
    </div>
</section>

<section class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="col-lg-3 col-sm-4">
                <div class="follow-ava text-center">
                    <img class="img-responsive img-circle" src="img/user4-128x128.jpg" alt="">
                </div>
                <h4 class="profile-username text-center">{{accService.account.DislayName}}</h4>
                <h6 class="text-center">{{accService.account.RollName}}</h6>
            </div>
            <div class="col-lg-6 col-sm-6">
                <p>{{accService.account.Description}}</p>
                <p>{{accService.account.Email}}</p>
                <p *ngIf="accService.account.Contact"><i class="fa fa-twitter"></i>{{ accService.account.Contact}}
                    <span *ngIf="accService.account.Mobile"><i class="fa fa-fw fa-whatsapp"></i>{{ accService.account.Mobile}} </span>
                    <br><span *ngIf="accService.account.Address"><i class="fa fa-fw fa-whatsapp"></i>{{ accService.account.Address}} </span>
                </p>
            </div>
            <div class="col-lg-3 col-sm-2">

            </div>
        </div>

    </div>
</section>
