<div>
    <div class="row">
        <label class="col-lg-2 control-label">{{ 'HELLO' | translate:{value: param} }}</label>
        <label class="col-lg-2 control-label">{{ 'ilove'| translate }}</label>
    </div>

    <div class="row">
        <label class="col-lg-2 control-label">Number</label>
        <div class="col-lg-6">
            <ng2-InputNumber  ngLabel="Number abc"  [(bindModelData)]="comp.value" ngMask="111111.99"></ng2-InputNumber>
            <!--<input [textMask]="{number: '(111) 111 - 111'}" [(ngModel)]="comp.value"  type="text">-->
            <span>{{comp.value}}</span>
        </div>

    </div>
    <div class="row">
        <label class="col-lg-2 control-label">Mask input</label>
        <div class="col-lg-6">
            <ng2-Input class="ng-block" ngLabel="Type" ngMask="(111) 1111 - 111"  [(bindModelData)]="comp.phone"></ng2-Input>
            <ng2-Input class="ng-block" ngLabel="Type"   [(bindModelData)]="comp.phone"></ng2-Input>
            <span>{{comp.phone}}</span>
        </div>

    </div>
    <div class="row">
        <label class="col-lg-2 control-label">Combo</label>
        <div class="col-lg-6">
            <ng2-combobox [values]="typeList" dataValue='value' dataText='label' [(bindModelData)]="type.value" ngLabel="combo"></ng2-combobox>

            <p>CompanyType: {{type.label}}  |  ID:  {{type.value}}</p>
        </div>
    </div>


    <div class="row form-group1">
        <label class="col-lg-2 control-label">Select list</label>
        <div class="col-lg-6">
            <ng2-select [values]="typeList" dataValue='value' dataText='label' [(bindModelData)]="type.value" ngLabel="To date" ngShowLable="false">

            </ng2-select>
        </div>
    </div>

    <div class="row form-group1">
        <label class="col-lg-2 control-label">Mutil select </label>
        <div class="col-lg-6">
            <ng2-multiselect (selectionModelChange)="onUpdate($event)" [items]="dropItems" [selectionModel]="selected">

            </ng2-multiselect>
            <!--{{selOut | json}}-->
        </div>
    </div>

    <!--<div class="row form-group1" style="margin-top: 30px">-->
        <!--<label class="col-lg-2 control-label">Date time</label>-->
        <!--<div class="col-lg-3">-->
            <!--<datepicker [(ngModel)]="test1" view-format="DD.MM.YYYY" model-format="YYYY-MM-DD" init-date="2016-07-12" ngLabel="To date"-->
            <!--&gt;</datepicker>-->
        <!--</div>-->
        <!--<div class="col-lg-3">-->
            <!--<datepicker [(ngModel)]="test" view-format="DD/MM/YYYY" ngLabel="From date"></datepicker>-->
        <!--</div>-->
        <!--<div class="col-lg-3">-->
            <!--<datepicker [(ngModel)]="test" ngLabel="From date" ></datepicker>-->
        <!--</div>-->
    <!--</div>-->

</div>